.CardOfertas{
    width: 400px;
    height: auto;
   margin: 50px;
}
.CardBody{
   font-size: 1.3rem !important;
}
.precio{
    display: flex;
    justify-content: space-around;
}
.botonCard{
    width: max-content;
    display: flex;
    height: 50px;
    color: black;
}